body{
    background-color: blue;
}

.container{
    text-align: center;
    background-color: black;
    color: white;
    width: 200px;
    height: 200px;
    border: 3px solid blue;
    margin: 0px auto;
    padding: 20px;
    box-shadow: 4px 6px 7px gray;
}

.container h1{
    font-size: 2rem;
    color: white;
    text-decoration: underline;
}

a{
    color: gray;
}